.navStyle {
	box-shadow: 0 1px 5px -1px rgba(146, 201, 251, 0.62);
}

.projectIntro {
	position:absolute;
	 background: rgba(21, 21, 21, 0.52);	 
    border-radius:20px;
	 height: 250px;
    width: 250px;
	 z-index:1;
}

.projectPic {
	height: 250px;
    width: 250px;
    background: #ddd;
    border-radius:20px;
    z-index:-1;
}

.bg {
       background-color: #ffffff;
}

.searchIcon {
	height: 30px;
    width: 30px;
    /*padding-top: 2px; */
    background: url(../img/search.png) no-repeat;
    border:none;
}

.intro{
	color:white;
}


.highlight{
	color:#ff8822;
}